*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}


@media screen and (max-width:1024px) {
    .ab_box .box div{
        height: 180px;
    }

    .ab_box .box div p br{
        display: none;
    }
    
}