*{margin:0; padding:0; box-sizing:border-box;}

a {
    text-decoration: none;
  }
  
  address {
    font-style: normal;
  }


  .roadmap_listBox .box{
    height: 180px;
  }

  

@media screen and (max-width:1024px) {
  
    .ab_box .box div{
        height: 180px;
    }

    .ab_box .box div p br{
        display: none;
    }
    
}

@media screen and (max-width:991px) {
        
    .intro_wrap p {
        letter-spacing: -1px;
    }   

}
  

@media screen and (max-width:576px) {

.home_txt h4{
    font-size: 1em;
  }

  .intro_wrap p {
    letter-spacing: 0;
}   


}



@media screen and (max-width:425px) {

.home_txt h4{
    font-size: 0.95em;
  }


}