
/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {
}



  /*아이패드 (768px)*/
@media screen and (max-width:991px) {

  .about03_area .ab_box {
    display: block;
  }

  .ab_box .box{
    margin-bottom: 20px;
  }

  .ab_box .box div{
    width: 50%;
    margin: 0 auto;
  }

  #token .token_area{
    padding: 60px 30px 110px 30px;
  }




}



/*모바일*/

@media screen and (max-width:767px) {

}


/*모바일2*/


@media screen and (max-width:576px) {

  h3{
    font-size: 2em;
  }

  .token_txt p{
    font-size: 13px;
  }

  .graph_txt h5{
    font-size: 16px;
  }

  .token_area .token_graph{
    display: block;
  }

  .token_graph img{
    margin-right: 0;
    margin-left: 0;
    max-width: 50%;
    margin-bottom: 30px;
  }

  .token_area .graph_txt ul{
    margin-top: 10px;
  }

  .token_area .graph_txt ul li{
    font-size: 13px;
  }
  

}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {

    .ab_box .box div{
      width: 80%;
    }

    #token .token_area{
      padding:50px 15px 80px 20px;
      width: 90%;
    }

}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
